<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Servers</title>
    <meta name="description" content="List of archived discord servers.">
    <style>
        main {
            max-width: 48em;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .badlink {
            color: red;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="content">
    <main>
        <h1>Servers</h1>
        <ul>
            {% for server in servers %}
                <li><a href="server_{{ server.guild_id }}.html">{{ server.get_name() }}</a></li>
            {% endfor %}
        </ul>
    </main>
</div>
</body>
</html>